<!-- templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
<header>
    <a href="{% url 'home' %}">Home</a> | <a href="{% url 'about' %}">About</a>
  </header>
 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
 
  <title>NutrtionFactz | Home</title>


  <!-- Bootstrap core CSS -->
    <link href={% static 'css/blog.css' %} rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link href={% static 'css/blog.css' %} rel="stylesheet">




<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<style>
    .videoalignment{
      align-items: center;   
      padding:2rem 1rem;
      margin-bottom: 2rem; 
      margin-left: 0px;
      border-radius: 0.3rem;
    }
    .body{
      background-color: #C6FFFE;
    }
      .text{
        color: #08481A;
    }
    .linktext{
      color: #2387FA;
    }
    .cardz{
      background-color: #B5F7A3;
    }
    .header{
      border-bottom-color: #08481A;
      border-bottom-width: 5px;
    }
    .bottomnav{
      border-bottom-color: #08481A;
      border-bottom-width: 5px;
    }

  </style>

    {% block content %}

    {% endblock %}

      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>
<body>
 
  
</body>
</html>
