<!DOCTYPE html>
<html>

<body>
  {% extends 'base.html' %} {% block content %}
  
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="videoalignment">
          <video autoplay="autoplay"
               controls="controls"
               height="391.6"
               loop="loop"
               muted="muted"
               playsinline="playsinline"
               width="1100"><source src="images/KetogenticvsShred10byMitraRay, Ph.D..mp4"
                  type="video/mp4"></video>
        </div>
       
<div class="row mb-2">
    <div class="col-md-6">
      <div class="card flex-md-row mb-4 box-shadow h-md-250 cardz">
      <div class="card-body d-flex flex-column align-items-start cardz"
           height="422"
           width="164">
        <h3 class="mb-0"><a class="text"
           href="#">Fruits and Veggies in a Capsule?</a></h3>
        <div class="mb-1 text-muted">
          Nov 12
        </div>
        <p class="card-text mb-auto">Get 30 fruits and veggies for $2.50</p><a href="https://gashley.towergarden.com/">Continue reading</a>
      </div>
      <div class="col-md-6"
           margin-left="10%"></div><img class="card-img-right flex-auto d-none d-md-block"
           data-src="holder.js/200x250?theme=thumb"></div>
    </div>
    <div class="col-md-6">
      <div class="card flex-md-row mb-4 box-shadow h-md-250">
      <div class="card-body d-flex flex-column align-items-start cardz"
           height="422"
           width="164">
        <h3 class="mb-0"><a class="text"
           href="#">Urban Gardening Developments</a></h3>
        <div class="mb-1 text-muted">
          Nov 11
        </div>
        <p class="card-text mb-auto">New Urban Gardening with Tower Garden</p><a href="https://gashley.towergarden.com/">Continue reading</a>
      </div><img class="card-img-right flex-auto d-none d-md-block"
           data-src="holder.js/200x250?theme=thumb"></div>
    </div>
  </div>
      </div>
    </div>{% endblock content %}
  </div>
</body>
</html>
